h2{
  margin-bottom: 1em;;
}

table{
  width: 100%!important;
}

#modulesAdmin{
    position: relative;
}

#comment_admin, #users_admin, #news_admin{
    display: none;
    position: relative;
}

.pointable{
    cursor: pointer;
}

.command_delete_chapter_admin{
    display: none;
}

.messageConfirmation{
  padding: 0;
  margin:0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}