RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php?url=$1 [NC,L]

RewriteRule ^accueil$ /index.php [L]
RewriteRule ^chapitre-([0-9]+)$ /index.php?route=chapitre&chapterId=$1 [L]
RewriteRule ^newsletters-([0-9]{4})-([0-9]{2})$ /index.php?route=archives&year=$1&month=$2 [L]
RewriteRule ^chapitres$ /index.php?route=allChapters [L]
RewriteRule ^biographie$ /index.php?route=biography [L]
RewriteRule ^contact$ /index.php?route=contact [L]
RewriteRule ^inscription$ /index.php?route=register [L]
RewriteRule ^connexion$ /index.php?route=login [L]
RewriteRule ^confirmation$ /index.php?route=confirmation [L]
RewriteRule ^administration$ /index.php?route=administration [L]
RewriteRule ^compte$ /index.php?route=profile [L]
RewriteRule ^modifierMDP$ /index.php?route=updatePassword [L]